header {
    background-color: rgb(8, 47, 25);
    color: white;
    text-align: center;
    padding: 1em;
    height: 300px;
    width: 100%;
}
main{
    margin: 20px;
    padding: 20px;
    background-color: rgb(6, 48, 39);
    height: 500px;
    width: 100%;
}
p{

    color: #981414;
    align-items: center;
    position: relative;
}